@model Question1.Models.Customer
@{
    ViewBag.Title = "CustomerDetailsWithOrder";
}

<h2>CustomerDetailsWithOrder</h2>
p>Customer ID: @Model.CustomerID</p>
<p>Company Name: @Model.CompanyName</p>
<p>Contact Name: @Model.ContactName</p>
